# Datasets and Large Folders
dataset/
datasets/
data/*
ml_pipeline/data/raw/
ml_pipeline/data/new_Dataset/
ml_pipeline/data/qdrant_db/
*.zip
*.tar
*.gz
*.csv
!*.dvc

# Model Weights and Checkpoints
*.pt
*.pth
*.ckpt
weights/*.pth
checkpoints/*.pth
ml_pipeline/checkpoints/**/*.pth

# Python / Environment / Logs / Reports / Artifacts
venv/
__pycache__/
*.pyc
runs/
logs/
mlruns/.trash
.ipynb_checkpoints/
ml_pipeline/.tmp.driveupload/

ml_pipeline/ANALYSIS_COMPLETE/
frontend/node_modules/
frontend/.next/
